@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Grey-200: hsl(0, 0%, 85%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  font-family: "Alata", sans-serif;
}

.container {
  width: 100%;
}

.header {
  width: 100%;
  height: 600px;
  background-image: url("./images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 25px;
  padding-top: 50px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.header__list {
  display: flex;
  gap: 25px;
  list-style: none;
  display: none;
}

.header__list a {
  text-decoration: none;
  color: var(--White);
  font-weight: 300;
}

.header__list li {
  position: relative;
}

.header__list span {
  display: block;
  width: 50%;
  height: 1px;
  background-color: transparent;
  position: absolute;
  bottom: -5px;
  left: 25%;
  transition: all 0.3s ease;
}

.header__list a:hover span,
.header__list a:focus span {
  width: 100%;
  background-color: var(--White);
  left: 0;
  z-index: 1;
}

.header__list a:focus {
  outline: none;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 125px;
}

.header__hamburguer {
  width: 22px;
  cursor: pointer;
}

.header__title {
  width: 100%;
  padding: 20px;
  line-height: 35px;
  max-width: 350px;
  border: 2px solid var(--White);
  color: var(--White);
  text-transform: uppercase;
  font-size: 2.2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

.main__description {
  width: 100%;
  max-width: 1200px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  margin: 0 auto;
}

.description__image {
  width: 85%;
  max-width: 500px;
}

.description {
  width: 80%;
  max-width: 350px;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--White);
}

.description__title {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--Black);
  line-height: 30px;
}

.description__paragraph {
  color: var(--Black);
  opacity: 60%;
  font-size: 0.9rem;
  line-height: 20px;
}

.creation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding-bottom: 30px;
}

.creation__title {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--Black);
  opacity: 95%;
  font-family: "Josefin Sans", sans-serif;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.card {
  position: relative;
  max-width: 300px;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  height: 99%;
  transition: all 300ms ease;
}

.card:hover,
.card:focus {
  cursor: pointer;
  outline: none;
}

.card:hover::before,
.card:focus::before {
  background: hsl(0, 0%, 85%, 0.8);
  outline: none;
}

.card__image {
  width: 100%;
  height: 100%;
}

.card__title {
  width: 90px;
  color: var(--White);
  position: absolute;
  bottom: 12px;
  left: 12px;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  text-align: left;
  line-height: 20px;
  z-index: 2;
}

.card:hover .card__title,
.card:focus .card__title {
  color: var(--Black);
}

.creation__button {
  width: 150px;
  height: 40px;
  background-color: var(--White);
  box-shadow: 0px 0px 2px 2px var(--Black);
  border: none;
  opacity: 70%;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: var(--Black);
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 2px;
  line-height: 40px;
  transition: all 300ms ease;
}

.creation__button:hover,
.creation__button:focus {
  background-color: var(--Black);
  opacity: 100%;
  outline: none;
  color: var(--White);
}

.creation__desktop {
  display: none;
  width: 80%;
  margin: 0 auto;
}

.creation__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  padding: 0 20px;
  margin-bottom: 50px;
}

.creation__desktop .creation__title {
  font-size: 2.5rem;
  line-height: 40px;
}

.creation__desktop .cards {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.creation__desktop .card {
  width: 20%;
}

.footer {
  width: 100%;
  height: 400px;
  background-color: var(--Black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.footer__logo {
  width: 125px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  list-style: none;
}

.footer__list li {
  position: relative;
}

.footer__list span {
  display: block;
  width: 50%;
  height: 1px;
  background-color: transparent;
  position: absolute;
  bottom: -5px;
  left: 25%;
  transition: all 0.3s ease;
}

.footer__list a:hover span,
.footer__list a:focus span {
  width: 100%;
  background-color: var(--White);
  left: 0;
  z-index: 1;
}

.footer__list a:focus {
  outline: none;
}

.footer__list a {
  text-decoration: none;
  color: var(--White);
  font-weight: 300;
  font-size: 0.9rem;
}

.footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer__social-list {
  display: flex;
  gap: 10px;
  list-style: none;
}

.footer__social-list li {
  position: relative;
}

.footer__social-list span {
  display: block;
  width: 50%;
  height: 1px;
  background-color: transparent;
  position: absolute;
  bottom: -5px;
  left: 25%;
  transition: all 0.3s ease;
}

.footer__social-list a:hover span,
.footer__social-list a:focus span {
  width: 100%;
  background-color: var(--White);
  left: 0;
}

.footer__social-list a:focus {
  outline: none;
}

.header__list span {
  display: block;
  width: 50%;
  height: 1px;
  background-color: transparent;
  position: absolute;
  bottom: -5px;
  left: 25%;
  transition: all 0.3s ease;
}

.header__list a:hover span,
.header__list a:focus span {
  width: 100%;
  background-color: var(--White);
  left: 0;
  z-index: 1;
}

.header__list a:focus {
  outline: none;
}

.footer__social-list img {
  width: 23px;
}

.footer__rights {
  color: var(--White);
  font-size: 0.9rem;
  opacity: 60%;
}

@media (min-width: 426px) {
  .header {
    background-image: url("./images/desktop/image-hero.jpg");
    padding-left: 50px;
    padding-right: 50px;
  }

  .header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    height: 600px;
  }

  .header > * {
    position: relative;
    z-index: 2;
  }

  .main__description {
    height: 700px;
    position: relative;
  }

  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 769px) {
  .header {
    padding-left: 100px;
    padding-right: 100px;
  }

  .header__logo {
    width: 200px;
  }

  .header__list {
    display: flex;
  }

  .header__hamburguer {
    display: none;
  }

  .header__title {
    padding: 30px;
    line-height: 60px;
    max-width: 550px;
    height: 220px;
    border: 2px solid var(--White);
    font-size: 4rem;
  }

  .creation {
    display: none;
  }

  .creation__desktop {
    display: block;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 100px;
    height: 200px;
  }

  .footer__list {
    flex-direction: row;
    gap: 20px;
  }

  .footer__nav {
    align-items: flex-start;
  }
}

@media (min-width: 900px) {
  .description__image {
    position: absolute;
    z-index: 1;
    left: 5%;
  }

  .description {
    max-width: 400px;
    height: 300px;
    position: absolute;
    z-index: 2;
    left: 60%;
    top: 285px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

  .description__title {
    font-size: 2.5rem;
    line-height: 40px;
  }

  .description__paragraph {
    text-align: left;
    font-size: 1rem;
    line-height: 25px;
  }
}

@media (min-width: 1024px) {
  .header__list a {
    font-size: 1.1rem;
  }

  .description__image {
    left: 5%;
    max-width: 650px;
  }

  .description {
    padding: 70px;
    height: 350px;
    left: 70%;
    max-width: 560px;
  }

  .description__title {
    text-align: left;
  }

  .creation__desktop .card {
    width: 23%;
  }

  .creation__desktop .card__title {
    width: 160px;
    font-size: 1.8rem;
    line-height: 35px;
    left: 20px;
    bottom: 20px;
  }
}
