@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Grey-200: hsl(0, 0%, 85%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 

html{
    font-size: 15px;
}

body{
    font-family: 'Alata', sans-serif;
}

.container{
    width: 100%;
}

.header{
    width: 100%;
    height: 600px;
    background-image: url('./images/mobile/image-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 25px;
    padding-top: 50px;
}

.header{
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    width: 125px;
}

.header__hamburguer{
    width: 22px;
    cursor: pointer;
}

.header__title{
    width: 100%;
    padding: 20px;
    max-width: 350px;
    border: 2px solid var(--White);
    color: var(--White);
    text-transform: uppercase;
    font-size: 2.2rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
}
 
 img{
      width: 300px;
    }

.hide{
    display: none;
}