@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Grey-200: hsl(0, 0%, 85%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 

html{
    font-size: 15px;
}

body{
    font-family: 'Alata', sans-serif;
}

.container{
    width: 100%;
}

.header{
    width: 100%;
    height: 600px;
    background-image: url('./images/mobile/image-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 25px;
    padding-top: 50px;
}

.header{
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    width: 125px;
}

.header__hamburguer{
    width: 22px;
    cursor: pointer;
}

.header__title{
    width: 100%;
    padding: 20px;
    max-width: 350px;
    border: 2px solid var(--White);
    color: var(--White);
    text-transform: uppercase;
    font-size: 2.2rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
}

.main__description{
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.description__image{
    width: 85%;
}

.description{
    width: 80%;
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.description__title{
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--Black);
    line-height: 30px;
}

.description__paragraph{
    color: var(--Black);
    opacity: 60%;
    font-size: 0.9rem;
    line-height: 20px;
}
 
.creation{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding-bottom: 30px;
}

.creation__title{
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--Black);
    opacity: 95%;
    font-family: "Josefin Sans", sans-serif;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.card{
    position: relative;
}

.card__image{
    width: 100%;
    height: 100%;
    filter: brightness(55%);
}

.card__title{
    width: 90px;
    color: var(--White);
    position: absolute;
    bottom: 12px;
    left: 12px;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    text-align: left;
    line-height: 20px
}

.creation__button{
    width: 150px;
    height: 40px;
    background-color: var(--White);
    box-shadow: 0px 0px 2px 2px var(--Black);
    border: none;
    opacity: 70%;
}

.creation__button a{
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    color: var(--Black);
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.footer{
    width: 100%;
    height: 400px;
    background-color: var(--Black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.footer__logo{
    width: 125px;
}

.footer__nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.footer__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    gap: 5px;
    list-style: none;
}

.footer__list a{
    text-decoration: none;
    color: var(--White);
    font-weight: 300;
    font-size: 0.9rem;
}

.footer__social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer__social-list{
    display: flex;
    gap: 10px;
    list-style: none;
}

.footer__social-list img{
    width: 23px;
}

.footer__rights{
    color: var(--White);
    font-size: 0.9rem;
    opacity: 60%;
}

.hide{
    display: none;
}